{% extends "base.html" %}

{% block title %}Contato - {{ block.super }}{% endblock title %}

{% block main-content %}
<section id="content" class="body">
<div id="main_content">
    <h1>Oferta inválida!</h1>
    <div id="summary">
        <p>
        Ops, sua oferta não foi válida =/, por favor, volte e tente novamente.<br />
            Lembramos que não estamos aceitando ofertas "quebradas", por exemplo, R$ 49,90, escolha entre ofertar R$ 49 ou R$ 50.
        </p>
    </div>
</div>
</section>
{% endblock main-content %}
