/* Global */
body {
  width:              990px;
  margin:             0 auto;
}

hr {
  display:            none;
}

h1 {
/*  margin-right:       190px;*/
/*  margin-left:        20px;*/
}

form, fieldset {
  padding:            0;
  border:             0;
  margin:             0;
}

/* /Global */

/* Main content */
#main_content {
  padding:            30px 30px 30px;
  -moz-border-radius: 5px;
  border-radius:      5px;
  margin:             0;
  position:           relative;
}

#main_content a {
  -moz-border-radius: 3px;
  border-radius:      3px;
}
/* Main content */


/* Thumbnails */
#thumbnails {
  padding:            0;
  margin:             0;
}

#thumbnails * {
  border-width:       0;
}

#thumbnails li {
  display:            inline-block;
  vertical-align:     top;
  width:              250px;
  height:             280px;
  padding:            0 20px;
  margin:             60px 0 10px;
  position:           relative;
}
li.empty {
  display:            none !important;
}

#thumbnails li * {
  padding:            0;
  margin:             0;
}

#thumbnails h2 {
  width:              267px;
  position:           absolute;
  bottom:             280px;
  left:               20px;
}

#thumbnails h3 {
  padding:            1em 0 .75em;
}

#thumbnails h3 a, #thumbnails h3 em, h3 em {
  padding:            2px 4px;
  -moz-border-radius: 2px;
  border-radius:      2px;
}

#thumbnails .sold h3 {
  padding-bottom:     200px;
  margin-bottom:      -191px;
  position:           relative;
  z-index:            1;
}

#thumbnails img {
  display:            block;
  margin:             0 auto;
  -moz-border-radius: 4px;
  border-radius:      4px;
  max-height:         240px;
  max-width:          240px;
}
/* /Thumbnails */


/* Product */
#bidding #cover {
  float:              right;
  width:              240px;
  margin:             0;
  text-align:         center;
}

#bidding img {
  display:            block;
  border-width:       0;
  -moz-border-radius: 4px;
  border-radius:      4px;
  margin:             10px auto 0;
  max-width:          200px;
  max-height:         200px;
}

#bidding, #summary, #big_pictures {
  border-style:       solid;
}
#bidding {
  border-width:       0 0 1px;
  height:             auto !important;
  padding:            0 100px 30px;
  margin-top:         40px;
  min-height:         220px;
}
#summary {
  clear:              both;
  padding:            15px 100px;
  border-width:       1px 0 1px;
}
#big_pictures {
  padding-top:        20px;
  border-width:       1px 0 0;
  text-align:         center;
}

#summary iframe {
  display:            block;
  margin:             5px auto;
}

#big_pictures h2 {
  text-align:         left;
}

#big_pictures img {
  vertical-align:     middle;
  -moz-border-radius: 4px;
  border-radius:      4px;
  margin:             6px 4px;
  width:              80%;
}
/* /Product */


/* Forms */
#main_content form {
  padding:            25px 70px 0 70px;
/*  outline:1px dotted gray;*/
}
#bidding form {
  width:              352px;
  padding:            0;
}

form br {
  display:            none;
}

#main_content label {
  display:            inline-block;
  vertical-align:     middle;
  width:              101px;
  margin-right:       5px;
}
#bidding form label {
  width:              100px;
}

#main_content form input, #main_content form textarea {
  vertical-align:     middle;
  width:              220px;
  padding:            0 10px;
  margin:             5px 0;
}
#main_content form input {
  height:             23px;
}
#main_content form #item_bid_value {
  height:             51px;
}
#main_content form textarea {
  width:              570px;
  max-width:          570px;
  height:             200px;
  max-height:         200px;
  padding:            5px 10px;
}

#main_content button {
  display:            block;
  width:              190px;
  height:             35px;
  border-width:       0;
  margin:             5px auto 0;
}
#bidding button {
  margin:             5px 0 0 130px;
}

#main_content button:active {
  position:           relative;
  top:                1px;
}
#main_content button.submitting:active {
  top:                0;
}
/* /Forms */


/* Form feedback */
.submit_result, #bidding .error {
  padding:            0 10px;
  border-width:       1px;
  border-style:       solid;
  -moz-border-radius: 4px;
  border-radius:      4px;
  margin:             10px 0;
}

#bidding .error {
  font-size:          80%;
  line-height:        1.2em;
  text-align:         center;

  display:            block;
  padding:            4px 5px 6px;
  margin:             -2px 7px 10px 105px;
}

.submit_result ul {
  padding:	          0 0 0 17px;
}

.submit_result li {
  margin-bottom:      .75em;
}

#notice {
  padding:            5px 10px;
}

/*.submit_result {
  -webkit-transform:  rotate(-5deg) scale(1.5);
  -webkit-opacity:    0;

  -webkit-transition: all .25s ease-out;
}
html:hover .submit_result {
  -webkit-transform:  rotate(0deg) scale(1);
  opacity:            1;
}*/
/* /Form feedback */


/* Listings */
table {
  border-collapse:    collapse;
  margin:             0 auto;
}

th, td {
  padding:            8px 16px;
}

td em {
  padding:            2px 4px;
  border-radius:      2px;
  -moz-border-radius:   2px;
}

td strong a {
  padding:            3px;
}
/* /Listings */


/* Footer */
#footer {
  display:            none;
}
/* /Footer */

/*
Branco:                     #FFF
Gelo:                       #EAEEEA
Verde oliva:                #557260
Azul dessaturado médio:     #6A8B92
Verde oliva claro:          #8A9875
Azul esverdeado escuro:     #34626B
Azul dessaturado médio:     #56A3BD
Azul vivo médio:            #1D7592
Sombra no azul vivo médio:  #154D5F
Laranja vivo claro:         #F68B1F
Laranja escuro:             #C5550E
Cinza claro:                #666
Cinza escuro:               #333
*/


h1 {
  color:              #333;
  text-shadow:        0 2px 1px #FFF;
}


/* Header */
#header {
  background:         transparent url(../images/avatar.png?1) no-repeat left bottom;
}

#logo_screen a {
  color:              #EAEEEA;
  text-shadow:        0 1px 2px #154D5F;
}

#header li a {
  color:              #EAEEEA;
  background:         #56A3BD;
  background:         -webkit-gradient(linear, left top, left bottom, from(#56A3BD), to(#2F8AA8));
  text-shadow:        0 1px 1px #154D5F;
}

#header li.current a {
  color:              #34626B;
  background:         #EAEEEA;
  text-shadow:        0 1px 0 #FFF;
}

/* /Header */


/* Main content */
#main_content {
  background:         #FFF4DB;
}

#main_content a {
  color:              #06C;
}
#main_content a:hover {
  color:              #06F;
  text-shadow:        0 1px 0 #000;
  background:         #333;
  -webkit-box-shadow: 0 -1px 0 #000, 0 1px 0 #FFF;
  -moz-box-shadow:    0 -1px 0 #000, 0 1px 0 #FFF;
  box-shadow:         0 -1px 0 #000, 0 1px 0 #FFF;
}

#thumbnails h2 a, #thumbnails h2 a:hover {
  color:              #333;
  background:         transparent;
  text-shadow:        none;
}

h3, h3 {
  color:              #666;
}
#main_content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
h3 em, h3 strong {
  color:              #EFEFEF;
  background:         #F68B1F;
  text-shadow:        0 1px 0 #C5550E;
}

#main_content h2 a:hover, #main_content h3 a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

#thumbnails .sold h3 {
  background:         transparent url(../images/sold_ie6.png) no-repeat center 70px;
}
#thumbnails .sold > h3 {
  background:         transparent url(../images/sold.png) no-repeat center 40px;
}

#thumbnails .sold h3 em {
  background:         #CC0000;
  text-shadow:        0 1px 0 #660000;
}

#thumbnails .sold img {
  opacity:            .7;
}

/*#subnavigation a {
  background:         #E1E5E1;
  -webkit-box-shadow: 0px -1px 0px #CCC, 0px 1px 0px #FFF;
  -moz-box-shadow:    0px -1px 0px #CCC, 0px 1px 0px #FFF;
  box-shadow:         0px -1px 0px #CCC, 0px 1px 0px #FFF;
}*/

#thumbnails img,
#bidding img, #big_pictures img,
.submit_result {
  -webkit-box-shadow: 0px 4px 6px #B1BFC4;
  -moz-box-shadow:    0px 4px 6px #B1BFC4;
  box-shadow:         0px 4px 6px #B1BFC4;
}
/* /Main content */


/* Product */
#bidding, #summary {
  border-bottom-color:#DDD;
}
#summary, #big_pictures {
  border-top-color:   #FEFEFE;
}
/* /Product */


/* Forms */
#main_content form input, #main_content form textarea {
  background:         #FFF;
}
#main_content #item_bid_value {
  color:              #1D7592;
}
#main_content form textarea {
}

#main_content form button {
  color:              #EFEFEF;
  background:         #93A71D;
  text-shadow:        0 -1px 0 #5F700E;
}
#main_content button:active {
  color:              #E0E0E0;
}
#main_content button.submitting {
  color:              #E0E0E0;
  text-shadow:        0 -1px 0 #767676;
  background-color:   #A6A6A6;
}
/* /Forms */


/* Form feedback */
.submit_result li, #bidding .error {
  color:              #FFF;
  text-shadow:        0 -1px 0 #8A0000;
}

#error_explanation, #bidding .error {
/*  text-shadow:        0 1px 0 #EF9998;*/
  border-color:       #B50000;
  border-top-color:   #BB0000;
  border-bottom-color:#8A0000;
  background:         #E7041D url(../images/bg_error_explanation.png) repeat-x top;
}
#bidding .error {
  background-position:  bottom;
}
#notice {
  text-shadow:        0 1px 0 #DBE282;
  border-color:       #868D2F;
  border-top-color:   #8B9232;
  border-bottom-color:#60680D;
  background:         #98A124 url(../images/bg_notice.png) repeat-x top;
}
/* /Form feedback */


/* Listings */
td {
  color:              #999;
}

td em {
  color:              #EFEFEF;
  background:         #F68B1F;
  text-shadow:        0 1px 0 #C5550E;
}

#main_content td a {
  color:              #666;
}
#main_content td a:hover {
  color:              #1D7592;
  background:         transparent;
  text-shadow:        0 1px 0 #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

#main_content td strong a {
  color:              #333;
}
#main_content td strong a:hover {
  color:              #FEFEFE;
  text-shadow:        0 1px 0 #000;
  background:         #333;
  -webkit-box-shadow: 0 -1px 0 #000, 0 1px 0 #FFF;
  -moz-box-shadow:    0 -1px 0 #000, 0 1px 0 #FFF;
  box-shadow:         0 -1px 0 #000, 0 1px 0 #FFF;
}

tr.sold {
  background:         #63FF75;
}
/* /Listings */
