{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Contact' %} - {{ block.super }}{% endblock %}

{% block article-content %}
    <h1>{% trans 'Contact'%}</h1>
    <p><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
    <hr />
    <form method="POST" action="{% url jobim:contact store_url=store.url %}">
        <table id="contact">
            {{ contact_form }}
            <tr>
                <td colspan="2" id="send">
                    <input type="submit" value="Enviar" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
