{% extends "base.html" %}

{% block title %}{{ category }} - {{ block.super }}{% endblock %}

{% block article-content %}
    <h1>{{ category }}</h1>
    {% if products %}
        <ul id="products">
        {% for product in products %}
            <li class="product">
            <a href="{% url jobim_product_view category.slug product.slug %}">
                <div class="name">{{ product }}</div>
                <div><img class="cover" src="{% if product.cover %}{{ product.cover.url }}{% endif %}" /></div>
                <div class="status">{{ product.status }}</div>
            </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Todos os {{ category|lower }} foram vendidos. :D<br />
        (Ou o preguiçoso não cadastrou os que faltam pra vender. =/)</h2>
    {% endif %}
{% endblock %}
