{% extends "base.html" %}

{% load markup %}

{% block title %}{{ product.category }} - {{ product.name }} - {{ block.super }}{% endblock %}

{% block article-content %}
    <h1>{{ product.name }}</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="bidding">
        <p id="cover">
            {% if product.cover %}
            <a href="#big_pictures">Veja todas as imagens</a>
            <br>
            <a href="#big_pictures">
                <img alt="{{ product.name }}" src="{{ product.cover.url }}" title="Veja todas as imagens deste produto.">
            </a>
            {% endif %}
        </p>
        <h3>
            Situação: <em>{{ product.status }}</em>
            <div><a href="{% url jobim:about store_url=store_url %}">Como funciona?</a></div>
        </h3>
        <form accept-charset="UTF-8" action="{% url jobim:product_bid store_url product.category.slug product.slug %}" class="simple_form item" method="post">
        <fieldset>
            <div>
                {% if bid_form.amount.errors %}{{ bid_form.amount.errors}}{% endif %}
                <label class="string optional" for="item_bid_amount"> Oferta:</label><span class="currency">R$</span>{{ bid_form.amount }}
            </div>
            <div>
                {% if bid_form.email.errors %}{{ bid_form.email.errors}}{% endif %}
                <label class="email optional" for="item_bid_email"> Email:</label>{{ bid_form.email }}
            </div>
            <button type="submit">Confirmar a oferta</button>
        </fieldset>
        </form>
    </div>

<hr />
<div id="product_description">
{{ product.description|markdown }}
</div>

<hr />
<div id="big_pictures">
    <h2>Todas as imagens deste produto:</h2>
    {% for photo in photos %}<img src="{{ photo.image_file.url }}" />{% endfor %}
</div>
{% endblock %}
