{% extends "base.html" %}

{% block article-content %}
    <h1>Produtos</h1>
    {% if products %}
        <ul id="products">
        {% for product in products %}
            <li class="product">
            <a href="{{ product.get_absolute_url }}">
                <div class="name">{{ product }}</div>
                <div><img class="cover" src="{% if product.cover %}{{ product.cover.url }}{% endif %}" /></div>
                <div class="status">{{ product.bid_status }}</div>
            </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Acabaram-se os produtos. :D<br />
        (Ou o preguiçoso não cadastrou os que faltam pra vender. =/)</h2>
    {% endif %}
{% endblock %}
