{% extends "base.html" %}

{% block article-content %}
    {% if products %}
        <ul id="products">
        {% for product in products %}
            <li class="product">
                <a href="{{ product.get_absolute_url }}">
                    {% if product.cover %}
                    <div><img class="cover" src="{% if product.cover %}{{ product.cover.url }}{% endif %}" /></div>
                    {% else %}
                    <div class="name">{{ product }}</div>
                    <div class="status">{{ product.bid_status }}</div>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Acabaram-se os produtos. :D<br />
        (Ou o preguiçoso não cadastrou os que faltam pra vender. =/)</h2>
    {% endif %}
{% endblock %}
